
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    width: 100%;
    height: 30px;
    position: relative;
    font-family: 'Open Sans Condensed', sans-serif;

}
nav a {
    color: black;
}
.navbar1 {
    display: flex;
    gap: 30px;
    /* position: absolute; */
    /* right: 37%; */
}
.navbar a {
    padding: 10px 15px;
}

.logo {
  display: flex;
}
.logosContain {
    position: relative;
    /* margin-left: -700px; */
    /* margin-right: 5600px; */
    /* position: absolute; */
    /* left: 10px; */
    letter-spacing: .5px;
}
.logosContain a {
    font-size: 28px;
}
.sign-in {
    display: flex;
    gap: 20px; 
    margin-right: 20px;
    /* margin-left: 100px; */
    /* position: absolute;  */
    /* margin-right: 20px; */
    /* right: 10px; */
}

.sign-in a {
    position: relative;
    font-size: 22px;
    transition: .1s;
    color: #999999;
    overflow: hidden;
    z-index: 1; 
}

.sign-in a:hover {
    scale: 103%;
    color: rgb(0, 0, 0);
    transition: ease-in .1s;
}
.scrolled .sign-in a:hover {
  color: #ffe500;
}
.navbar{
  padding: 80px 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar ul{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.navbar li{
  display: inline-block;
  margin: 0 15px;
}
.navbar a{
  font-size: 19px;
  text-transform: uppercase;
  text-decoration: none;
  color: #999999;
  display: block;
  position: relative;
  padding: 4px 0;
}
.navbar a:hover {
    color: rgb(0, 0, 0);
}
.scrolled .navbar a:hover {
  color: #ffe500;
}

.navbar a::before{
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0,1,1);
  transform-origin: 0 50%;
}
.navbar a:hover::before{
  transform: scale3d(1,1,1);
}
.scrolled .navbar a::before{
    background: #ffe500;
}
.navbar a::before{
    background: rgb(0, 0, 0);
    transform-origin: 100% 50%;
}
.navbar a:hover::before{
  transform-origin: 0 50%;
}

.active a {
    color: rgb(0, 0, 0);
}
.scrolled .active a {
  color: #ffe500;
}

.logo p {
    color: rgb(0, 0, 0); /* Используйте цвет по умолчанию */
}

.scrolled .logo p {
    color: rgb(255, 255, 255); /* Измененный цвет при прокрутке */
}

.navbar-svg {
  display: none;
  /* transition: 2s; */
  min-width: 70px;
  max-width: 70px;
}
.mini-bar{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
  margin-top: 30px;
  transition: 2s;
}
.mini-bar li {

}

@media (max-width: 924px) {
  .sign-in a {
    font-size: 19px;
  }
  .navbar a{
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #999999;
    display: block;
    position: relative;
    padding: 4px 0;
  }
  .sign-in {
    display: flex;
    gap: 16px; 
    margin-right: 15px;
    /* margin-left: 100px; */
    /* position: absolute;  */
    /* margin-right: 20px; */
    /* right: 10px; */
}

}
@media (max-width: 890px) {
  header {
    background-color: #fff;
  }
  .scrolled .logo p {
    color: rgb(0, 0, 0); /* Измененный цвет при прокрутке */
  }
  .navbar-svg{
    /* position: absolute; */
    display: inline;
    top: 50px;
    left: 16px;
  }
  .logo{
    /* display: none; */
  }
  .navbar{
    display: none;
  }
  .header-back{
    display: none;
  }
}
@media (max-width: 490px) {
  .sign-in a {
    font-size: 16px;
  }
  .navbar-svg {
    min-width:50px;
    max-width: 50px;
  }
}
@media (max-width: 440px) {
  .logosContain a {
    font-size: 18px;
}
.sign-in a:first-child {
    display: none;
  }
  .logo{
    align-items: center;
  }
}
