.our-benefits {
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
}  
.our-benefits h1 {
    text-align: center;
    letter-spacing: normal;
    color: #6A6969;
    font-family: "Open Sans Light";
    font-size: 50px;
    margin-bottom: 80px;
}
.our-slider{
    display: none;
}
.our-benefits__contain {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-contain1 {
    display: flex;
    gap: 200px;
    align-items: flex-start;
}
.our-contain2 {
    display: flex;
    margin-top: 60px;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.our-contain2 button {
    margin-top: 200px;
}
.our-contain__child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.our-contain__child h2 {
    font-family: "Open Sans Condensed Light";
    font-weight: 100;
    font-size: 32px;
    margin-bottom: 10px;
    color: #6A6969;
}
.our-contain__p{
    background-color: #ffe500;
    color: #585858;
    font-family: "Open Sans Condensed Light";
    font-size: 23px;
    max-width: 311px;
    text-align: center;
    padding: 14px;
    border-radius: 20px;   
}
.arrow {
    display: none;
}

@media (max-width: 1750px) {
    .our-benefits {
        margin-top: 90px;
    }  
    .our-benefits h1 {
        font-size: 46px;
        margin-bottom: 80px;
    }


    .our-contain1 {
        gap: 160px;
    }
    .our-contain2 {
        margin-top: 50px;
        gap: 90px;
    }
    .our-contain__child img {
        width: 80px;
    }
    .child3 {
        width: 120px !important;
    }
    .our-contain__child h2 {
        font-size: 28px;
        margin-bottom: 5px;
    }
    .our-contain__p{
        font-size: 20px;
        max-width: 300px;
        padding: 14px;
    }
}
.black {
    background-color: #ffe500;
    /* border:6px solid #000000; */
    font-size: 39px;
    color: rgb(116, 116, 116);

}
.black::before {
    display: none;
}
.black:hover{
    transition: .4s;
    color: rgb(116, 116, 116);
}
@media (max-width: 1680px) {
  .our-benefits {
        margin-top: 85px;
    }  
    .our-benefits h1 {
        font-size: 42px;
        margin-bottom: 60px;
    }
    .our-contain__child img {
        width: 60px;
    }
    .child3 {
        width: 100px !important;
    }
    .our-contain1 {
        gap: 120px;
    }
    .our-contain2 {
        margin-top: 20px;
        gap: 80px;
    }
    .our-contain__child h2 {
        font-size: 26px;
        margin-bottom: 4px;
    }
    .our-contain__p{
        font-size: 19px;
        max-width: 280px;
        padding: 12px;
    }
}
@media (max-width: 1512px) {
  .our-benefits {
        margin-top: 80px;
    }  
    .our-benefits h1 {
        font-size: 36px;
        margin-bottom: 60px;
    }
    .our-contain__child h2 {
        font-size: 26px;
        margin-bottom: 3px;
    }
    .our-benefits button {
        font-size: 26px;
        padding: 4px 40px;
        
    }
    .our-contain__p{
        font-size: 18px;
        max-width: 260px;
        padding: 14px;
    }
}
@media (max-width: 1400px) {
  .our-benefits {
        margin-top: 70px;
    }
    .our-benefits button {
        font-size: 26px;
        padding: 4px 40px;
        
    }  
    .our-benefits h1 {
        font-size: 34px;
        margin-bottom: 50px;
    }
    .our-contain1 {
        gap: 60px;
    }
    .our-contain2 {
        margin-top: 10px;
        gap: 60px;
    }
    .our-contain__child h2 {
        font-size: 24px;
        margin-bottom: 3px;
    }
    .our-contain__p{
        font-size: 17px;
        max-width: 240px;
        padding: 14px;
    }
}
@media (max-width: 1210px) {
    .our-benefits {
        margin-top: 50px;
    }
    .our-benefits button {
        font-size: 24px;
        padding: 4px 40px;
        top: -40px;
        
    }  
    .our-benefits h1 {
        font-size: 28px;
        margin-bottom: 40px;
    }
    .our-contain1 {
        gap: 40px;
    }
    .our-contain2 {
        margin-top: 10px;
        gap: 40px;
    }
    .our-contain__child h2 {
        font-size: 20px;
        margin-bottom: 3px;
    }
    .our-contain__p{
        font-size: 16px;
        max-width: 200px;
        padding: 10px;
    }
}
@media (max-width: 1000px) {
    .our-benefits {
        margin-top: 90px;
    }
    .our-benefits button {
        font-size: 24px;
        padding: 4px 40px;
        top: -40px;
        
    }  
    .our-benefits h1 {
        font-size: 28px;
        margin-bottom: 40px;
    }
    .our-contain1 {
        gap: 40px;
    }
    .our-contain2 {
        margin-top: 10px;
        gap: 40px;
    }
    .our-contain__child h2 {
        font-size: 20px;
        margin-bottom: 3px;
    }
    .our-contain__p{
        font-size: 16px;
        max-width: 200px;
        padding: 10px;
    }
}
@media (max-width: 890px) {
    .our-benefits h1, .our-benefits h2 {
        color: white
    }
    .our-benefits {
        background-color: black;
        border-radius: 50px;
        padding: 30px 0 60px;
        overflow: hidden;
        width: 86%;
        border: 4px solid white;
        
    }
    .our-benefits__contain{
        display: none;
    }
    .our-benefits__slider {
        /* background-color: #ffe500; */
        display: flex;
        position: relative;
    }
    .our-benefits__slider .our-slider{
        display: flex;
        /* background-color: aqua; */
        width: 100%;
        /* margin: 0 auto */
    }
    .our-slider .our-contain__child {
        margin-top: 120px;
        min-width: 100%;
        scale: 1.3;
        /* border-left: #e5ff00 10px solid; */
        /* position: static; */
    }
    .our-contain__child{
        transition: 1s;
    }
    .arrow {
        display: inline;
        /* border: 1px solid white; */
        z-index: 10;
        /* padding: 10px; */
        height: 40px;
        width: 40px;
        margin-top: 20px;
        background-color: transparent;
        /* height: 50px; */
        display: flex;
        align-items: center;
    }    
    .arrow-left {
        width: 100px;
        position: absolute;
        left: 0;
        top: -10px;
        /* align-items: center; */
        /* height: 0px; */
    }
    .arrow-right{
        width: 100px;
        position: absolute;
        right: 0;
        /* top: 0; */
    }
    .our-contain__p{
        font-size: 16px;
        max-width: 200px;
        padding: 10px;
        background-color: transparent;
        color: white;
    }
}
@media (max-width: 440px){
    .our-slider {
        position: relative;
        /* margin-left: -15px; */
    }
}
@media (max-width: 410px){
    .our-slider {
        position: relative;
        /* margin-left: -25px; */
    }
}