
.our-info {
    text-align: center;
    margin: 0 auto;
    margin-top: 550px;
    color: #999999;
    font-family: "Open Sans Light";
    font-weight: 300;
}
.our-info h1 {
    font-size: 55px;
    letter-spacing: 2.6px;
}
.our-info__who-we-are {
    width: 1088px;
    font-family: "Open Sans Condensed Light";
    margin-top: 80px;
    font-size: 34px;
    letter-spacing: .7px;
    line-height: 45px;
}