
.our-info {
    text-align: center;
    margin: 0 auto;
    margin-top: 550px;
    color: #999999;
    font-family: "Open Sans Light";
    font-weight: 300;
}
.our-info h1 {
    font-size: 50px;
    letter-spacing: 2.6px;
}
.our-info__who-we-are {
    max-width: 1088px;
    font-family: "Open Sans Condensed Light";
    margin-top: 40px;
    font-size: 26px;
    letter-spacing: .7px;
    line-height: px;
}
@media (max-width: 1750px) {
    .our-info {
        margin-top: 500px;
    }
    .our-info h1 {
        font-size: 46px;
        letter-spacing: 1px;
    }
    .our-info__who-we-are {
        /* width: 100px; */
        font-family: "Open Sans Condensed Light";
        margin-top: 70px;
        font-size: 25px;
        letter-spacing: .1px;
        line-height: 36px;
    }
}
@media (max-width: 1680px) {
    .our-info {
        margin-top: 500px;
    }
    .our-info h1 {
        font-size: 40px;
        letter-spacing: 1px;
    }
    .our-info__who-we-are {
        width: 900px;
        margin-top: 60px;
        font-size: 22px;
        letter-spacing: .2px;
        line-height: 28px;
    }
}
@media (max-width: 1512px) {
    .our-info {
        margin-top: 400px;
    }
    .our-info h1 {
        font-size: 40px;
        letter-spacing: 1.6px;
    }
    .our-info__who-we-are {
        width: 800px;
        margin-top: 50px;
        font-size: 24px;
        letter-spacing: .4px;
        line-height: 32px;
    }
}

@media (max-width: 1210px) {
    .our-info {
        margin-top: 400px;
    }
    .our-info h1 {
        font-size: 32px;
        letter-spacing: 1px;
    }
    .our-info__who-we-are {
        width: 680px;
        margin-top: 25px;
        font-size: 22px;
        letter-spacing: .3px;
        line-height: 30px;
    }
}
@media (max-width: 1000px) {
    .our-info {
        margin-top:80px;
    }
    .our-info h1 {
        font-size: 32px;
        letter-spacing: .7px;
    }
    .our-info__who-we-are {
        width: 600px;
        margin-top: 40px;
        font-size: 28px;
        letter-spacing: .3px;
        line-height: 38px;
    }
}
@media (max-width: 890px) {
    .our-info{
        margin-top: -90px;
        width: 100%;
        background-color: aliceblue;
        padding: 40px 0;
        border-radius: 50px;
    }
    .our-info__who-we-are{
        margin: 0 auto;
        
    }
}
@media (max-width: 650px) {
    .our-info__who-we-are{
        width: auto;
    }
}
@media (max-width: 450px) {
    .our-info__who-we-are {
        /* width: 180px; */
        margin-top: 25px;
        font-size: 22px;
        letter-spacing: .3px;
        line-height: 30px;
    }
}