footer {
    background-color: black;
    color: white;
    font-family: Inter, sans-serif;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
    margin-left: 140px;
    gap: 50px;
}

.footer-links a {
    color: white;
    font-size: 22px;
}

.footer-childs {
    display: flex;
    flex-direction: column;
}

.child-links {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 10px;
    font-size: 15px;
}

.child-links a {
    font-size: 15px;
}

.footer-socials {
    display: flex;
    gap: 30px;
    margin-right: 60px;
    align-items: center;
}

.footer-socials-media {
    display: flex;
    gap: 40px;
}

.footer-socials-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
