@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p,h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}
button {
    white-space: nowrap;
    border: 0;

}
body{
    background: #FFE500;
    font-size: 18px;
    font-family: "Open Sans Condensed", Inter;
    overflow-x: hidden;
}
.box {
    display: flex;
    flex-direction: column;
    position: relative;
    /* height: 100vh; */
}
.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}

.container button, .container a{
    width: min-content;
}

a {
    text-decoration: none;
    color: black;
}


.box {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    padding: 20px;
}

img {
    user-select: none; /* Prevents text selection */
    -webkit-user-drag: none; /* Prevents image drag in Safari and Chrome */
    -moz-user-select: none; /* Prevents image drag in Firefox */
    -ms-user-select: none; 
}